    <input type="text" placeholder="cerca" [(ngModel)]="criterio">
    <button (click)="cercaByCodice()">Cerca con Codice</button>
    <br>
    <input type="text" placeholder="titolo" [(ngModel)]="titolo">
    <input type="text" placeholder="cognome" [(ngModel)]="cognome">
    <input type="text" placeholder="casaEditrice" [(ngModel)]="casaEditrice">
    <button (click)="cercaJpql()">Cerca con Jpql</button>
    <button (click)="cercaJpa()">Cerca con Jpa</button>
    <br>
    <div>
        <table>
                <tr>
                    <th>Codice</th>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Genere</th>
                    <th>Anno</th>
                    <th>Casa Editrice</th>
                    <th>Scaffale</th>
                </tr>
                <tr *ngFor="let l of listaLibri">
                    <td>{{l.codice}}</td>
                    <td>{{l.titolo}}</td>
                    <td><lu><li *ngFor="let a of l.autori">{{a.cognome}}</li></lu></td>
                    <td>{{l.genere}}</td>
                    <td>{{l.anno}}</td>
                    <td>{{l.casaEditrice.nome}}</td>
                    <td>{{l.posizioneScaffale.codice}}</td>
                </tr>
        </table>
    </div>